<h1 class="todo_list_title">Edit Todo Item</h1>

<div class="forms">
  <%= form_for(@todo_item) do |f| %>
    <%= f.text_field:content%>
    <%= f.submit %>
  <% end %>
</div>

<div class="links">
	<%= link_to 'Cancel', todo_items_path %>
</div>
