<p id="notice"><%= notice %></p>

<h2 class="todo_list_title">Scope Todo List App</h2>


<div id="todo_items_wrapper">
  <%= render @todo_items %>
  <div id="form">
    <%= render "form" %>
  </div>
</div>


